>#
># Demo_5_Sets_and_Dictionaries
>#
>### Container Datatypes:
>    - **List**
>    - **Tuple**
>    - **Set**
>    - **Dictionary**
> -----------------
>1. Sets **{...}**
>    - Creating a set. 
>    - Add element to a set.
>    - Update
>    - Remove
>    - Union
>    - Itersection
>    - Convert to List and Sorting
>2. Dictionaries [key:value pairs] **{'key':'value', ... }**
>    - Creating a dictionary 
>    - Access by key
>    - Update
>    - Add a new key value
>    - Fetch elements by key only
>    - Fetch elements by value only
>    - Fetch elements (both keys and values)
>    - Dictionary Comprehension
>    - Nested Dictionaries
>    - Sort pair elements by key
>    - Merge dictionaries
>    - Accessing pair elements

## 1. Sets **{...}**
Properties:

- unordered
- mutable
- holds only unique elements

### a) Creating a set

In [7]:
# Method 1 - Using the set built-in constructor
mySet1 = set()
print(type(mySet1))

<class 'set'>

In [8]:
# Method 2 - by adding values
mySet2 = {1, 2, 3, 4, 1, 3}
print(type(mySet2))

<class 'set'>

Examples

In [8]:
names_set = set()
names_set.add("Michele")
names_set.add("Robin")
names_set.add("Michele")
print('Names in the given set:', names_set)

Names in the given set: {'Robin', 'Michele'}

In [9]:
a_set={True,'a',1,2,3,False,4.5} # 1 is nothing but True
print(a_set)

{False, True, 2, 3, 4.5, 'a'}

### a) Add element to a set.

In [10]:
#add
a_set.add('Wednesday') # add()
print(a_set)

{False, True, 2, 3, 4.5, 'a', 'Wednesday'}

### b) Update a set element.

In [11]:
#update
b_set={3,4,'wed',0}
a_set.update(b_set) # update()
print(a_set)

{False, True, 2, 3, 4.5, 4, 'Wednesday', 'a', 'wed'}

### c) Remove a set element.

Method 1: discard()

In [12]:
#remove -- method 1 --discard
a_set={False, True, 2, 3, 4.5, 4, 'Wednesday', 'a', 'wed'}
a_set.discard('wed')
print(a_set)

{False, True, 2, 3, 4.5, 4, 'Wednesday', 'a'}

In [14]:
# discarding an element that does not exist
# no exception thrown when discard an element that does not exist
a_set={False, True, 2, 3, 4.5, 4, 'Wednesday', 'a'}
a_set.discard('9')
print(a_set)

{False, True, 2, 3, 4.5, 4, 'Wednesday', 'a'}

Method 2: remove()

In [15]:
#remove --Method 2 --remove
# !!! removing an element that does not exist
# !!! exception thrown when discard an element that does not exist
a_set={False, True, 2, 3, 4.5, 4, 'Wednesday', 'a'}
a_set.remove('9') 
print(a_set)

KeyError: '9'

In [18]:
# remove an existing element
a_set={False, True, 2, 3, 4.5, 4, 'Wednesday', 'a'}
a_set.remove(2)  # remove()
print(a_set)

{False, True, 3, 4.5, 4, 'Wednesday', 'a'}

Method 3: pop()

In [21]:
#remove --method 3 -- pop()
a_set={False, True, 3, 4.5, 4, 'Wednesday', 'a'}
a_set.pop() # pop() the first element
print(a_set)

{True, 'Wednesday', 3, 4.5, 4, 'a'}

### d) Union

In [4]:
#union returns a set with elements of both sets
# union via method union()
a_set={True, 'Wednesday', 3, 4.5, 4, 'a'}
c_set={44, 55, 'Wednesday'}
union_set=a_set.union(c_set)    # values 44 and 55 are added
print(union_set)

{True, 3, 4.5, 4, 'Wednesday', 'a', 44, 55}

In [5]:
# union via operant |
a_set={True, 'Wednesday', 3, 4.5, 4, 'a'}
c_set={44, 55, 'Wednesday'}
union_set= a_set | c_set    # values 44 and 55 are added
print(union_set)

{True, 3, 4.5, 4, 'Wednesday', 'a', 44, 55}

### e) Intersection

In [6]:
# intersection via method intersection()
a_set={True, 'Wednesday', 3, 4.5, 4, 'a'}
c_set={44, 55, 'Wednesday'}
intersection_set=a_set.intersection(c_set) # keep common elements only
print(intersection_set)

{'Wednesday'}

In [7]:
# intersection via operant &
a_set={True, 'Wednesday', 3, 4.5, 4, 'a'}
c_set={44, 55, 'Wednesday'}
intersection_set=a_set & c_set # keep common elements only
print(intersection_set)

{'Wednesday'}

### f) Convert set to list and list to set.
Can be used if sorting is needed.

In [25]:
new_set={34,23,65,98,1}
a_list=list(new_set)
a_list.sort() 
print ('This is a list: ',a_list)
new_set=set(a_list)
print('This is a set: ', new_set)

This is a list:  [1, 23, 34, 65, 98]
This is a set:  {65, 1, 34, 98, 23}

## 2. Dictionaries  [key:value pairs] **{'key':'value', ... }**
Properties:

- unordered key value pair
- mutable
- key--case sentive
- unique keys

### a) Creating a dictionary

In [4]:
# Method 1 - Using the dict built-in constructor
myDictionary1 = dict()
print(type(myDictionary1))

<class 'dict'>

In [5]:
# Method 2 - Using {}
myDictionary2 = {}
print(type(myDictionary2))

<class 'dict'>

In [6]:
# Method 3 - by adding values
myDictionary3 = {'key1':'value1', 'key2':'value1', 'key3':'value3'}
print(type(myDictionary3))

<class 'dict'>

In [26]:
#creating a dict
a_dict={'server': 'db.fdmgroup.org', 'database': 'mysql'}
print('Elements of dict with key values:',a_dict)

Elements of dict with key values: {'server': 'db.fdmgroup.org', 'database': 'mysql'}

### b) Access by key

In [28]:
#access by key
a_dict={'server': 'db.fdmgroup.org', 'database': 'mysql'}
print(a_dict['database'])

mysql

### c) Update

In [29]:
#update
a_dict={'server': 'db.fdmgroup.org', 'database': 'mysql'}
a_dict['database']='oracle'
print(a_dict['database'])

oracle

### d) Add a new key value

In [31]:
#add a new key value
a_dict={'server': 'db.fdmgroup.org', 'database': 'mysql'}
a_dict['user']='user1'
a_dict['password']='1234'
print(a_dict)

{'server': 'db.fdmgroup.org', 'database': 'mysql', 'user': 'user1', 'password': '1234'}

In [32]:
#dict with list
#employee table as dictionary
#attributes of employee table be employeeId, name, Address, phonenumber, role
emp_table={1001:['Michelle','SB ROad',67687687,'HR'],
            1002:['John Doe','NB Road',324234,'Admin'],
            1003:['Donald','EB Road',98987867,'Sales Admin'],
            1004:['Tom','WB Road',97665545,'Trainer'],
            1005:['Todd','LB Road',98867565,'Manager']}
print(emp_table)

{1001: ['Michelle', 'SB ROad', 67687687, 'HR'], 1002: ['John Doe', 'NB Road', 324234, 'Admin'], 1003: ['Donald', 'EB Road', 98987867, 'Sales Admin'], 1004: ['Tom', 'WB Road', 97665545, 'Trainer'], 1005: ['Todd', 'LB Road', 98867565, 'Manager']}

### e1) Fetch elements by key only

In [33]:
#to fetch elements only keys
for k in emp_table:
    print(k)

1001
1002
1003
1004
1005

### e2) Fetch elements by value only

In [34]:
#to fetch elements only values
for v in emp_table.values():
    print(v)

['Michelle', 'SB ROad', 67687687, 'HR']
['John Doe', 'NB Road', 324234, 'Admin']
['Donald', 'EB Road', 98987867, 'Sales Admin']
['Tom', 'WB Road', 97665545, 'Trainer']
['Todd', 'LB Road', 98867565, 'Manager']

### e3) Fetch elements both keys and values

In [35]:
#to fetch elements both keys and values
for k,v in emp_table.items():
    print(k,' ----> ',v)

1001  ---->  ['Michelle', 'SB ROad', 67687687, 'HR']
1002  ---->  ['John Doe', 'NB Road', 324234, 'Admin']
1003  ---->  ['Donald', 'EB Road', 98987867, 'Sales Admin']
1004  ---->  ['Tom', 'WB Road', 97665545, 'Trainer']
1005  ---->  ['Todd', 'LB Road', 98867565, 'Manager']

### f) Dictionary Comprehension

In [11]:
#dictionary comprehension
dict_compr={i:i**2 for i in range(9)}
print(type(dict_compr))
print(dict_compr)

<class 'dict'>
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

### g) Nested Dictionaries

In [17]:
#employee table as dictionary
#attributes of employee table be employeeId, name, Address, phonenumber, role
nested_emp_dictionary={1001:{'Name':'Michelle', 'Address':'SB ROad', 'Number':67687687, 'Role':'HR'},
            1002:{'Name':'John Doe', 'Address':'NB Road', 'Number':324234, 'Role':'Admin'},
            1003:{'Name':'Donald', 'Address':'EB Road', 'Number':98987867, 'Role':'Sales Admin'},
            1004:{'Name':'Tom', 'Address':'WB Road', 'Number':97665545, 'Role':'Trainer'},
            1005:{'Name':'Todd', 'Address':'LB Road', 'Number':98867565, 'Role':'Manager'}}
print(nested_emp_dictionary)
print()

# Access the attributes of an employee
print(nested_emp_dictionary[1001])
print()

# get the records only
for employee_attribute_record in nested_emp_dictionary.values():
    print(employee_attribute_record)

{1001: {'Name': 'Michelle', 'Address': 'SB ROad', 'Number': 67687687, 'Role': 'HR'}, 1002: {'Name': 'John Doe', 'Address': 'NB Road', 'Number': 324234, 'Role': 'Admin'}, 1003: {'Name': 'Donald', 'Address': 'EB Road', 'Number': 98987867, 'Role': 'Sales Admin'}, 1004: {'Name': 'Tom', 'Address': 'WB Road', 'Number': 97665545, 'Role': 'Trainer'}, 1005: {'Name': 'Todd', 'Address': 'LB Road', 'Number': 98867565, 'Role': 'Manager'}}

{'Name': 'Michelle', 'Address': 'SB ROad', 'Number': 67687687, 'Role': 'HR'}

{'Name': 'Michelle', 'Address': 'SB ROad', 'Number': 67687687, 'Role': 'HR'}
{'Name': 'John Doe', 'Address': 'NB Road', 'Number': 324234, 'Role': 'Admin'}
{'Name': 'Donald', 'Address': 'EB Road', 'Number': 98987867, 'Role': 'Sales Admin'}
{'Name': 'Tom', 'Address': 'WB Road', 'Number': 97665545, 'Role': 'Trainer'}
{'Name': 'Todd', 'Address': 'LB Road', 'Number': 98867565, 'Role': 'Manager'}

### h) Sort pair elements by key

In [37]:
#Student_table with name as key and score of 5 subjects as list
#5 subject ordered as English, Maths, Science, History, SS
student_table = {'Tom':[100, 99, 98, 97, 96],
'John':[1, 2, 3, 4, 5],
'Todd': [81, 82, 83, 84, 85],
'Maria':[92,93,94,87,88]}

#Sort the records based on key
#steps
'''
1. extract keys 
2. convert to list
3. sort
'''
theKeys=list(student_table.keys())
theKeys.sort()
for k in theKeys:
    print(k, '---> ',student_table[k])

John --->  [1, 2, 3, 4, 5]
Maria --->  [92, 93, 94, 87, 88]
Todd --->  [81, 82, 83, 84, 85]
Tom --->  [100, 99, 98, 97, 96]

### i) Merge Dictionaries

In [47]:
#merging dictionaries
dict1={'color':'blue','shape':'circle'}
dict2={'color':'red', 'quantity':42}
dict1.update(dict2) # will replace color: blue to color: red and then it includes quantity key
print(dict1)

{'color': 'red', 'shape': 'circle', 'quantity': 42}

In [48]:
#pop
dict2.pop('quantity') # pop out the quantity key
print(dict2)

{'color': 'red'}

### j) Accessing pair elements

In [40]:
#accessing elements
student_table = {'Tom':[100, 99, 98, 97, 96],
'John':[1, 2, 3, 4, 5],
'Todd': [81, 82, 83, 84, 85],
'Maria':[92,93,94,87,88]}

print(student_table.keys())
print(student_table.values())
print(student_table.items()) # both k,v

dict_keys(['Tom', 'John', 'Todd', 'Maria'])
dict_values([[100, 99, 98, 97, 96], [1, 2, 3, 4, 5], [81, 82, 83, 84, 85], [92, 93, 94, 87, 88]])
dict_items([('Tom', [100, 99, 98, 97, 96]), ('John', [1, 2, 3, 4, 5]), ('Todd', [81, 82, 83, 84, 85]), ('Maria', [92, 93, 94, 87, 88])])

In [41]:
#get the scores of Todd
student_table = {'Tom':[100, 99, 98, 97, 96],
'John':[1, 2, 3, 4, 5],
'Todd': [81, 82, 83, 84, 85],
'Maria':[92,93,94,87,88]}

print(student_table.get('Todd'))

[81, 82, 83, 84, 85]

In [42]:
student_table = {'Tom':[100, 99, 98, 97, 96],
'John':[1, 2, 3, 4, 5],
'Todd': [81, 82, 83, 84, 85],
'Maria':[92,93,94,87,88]}

print(student_table.get('Jane Doe','Jane Doe is not in table'))

Jane Doe is not in table

In [43]:
student_table = {'Tom':[100, 99, 98, 97, 96],
'John':[1, 2, 3, 4, 5],
'Todd': [81, 82, 83, 84, 85],
'Maria':[92,93,94,87,88]}

print(student_table['Tom'][2]) # returns score of Tom in Science

98

In [44]:
student_table = {'Tom':[100, 99, 98, 97, 96],
'John':[1, 2, 3, 4, 5],
'Todd': [81, 82, 83, 84, 85],
'Maria':[92,93,94,87,88]}

student_table['John'][1]=78 # update value of key
print(student_table)

{'Tom': [100, 99, 98, 97, 96], 'John': [1, 78, 3, 4, 5], 'Todd': [81, 82, 83, 84, 85], 'Maria': [92, 93, 94, 87, 88]}

In [50]:
student_name=['Tom', 'Todd','John','Maria']
student_total_scores=[405,498,187,421]
# create a dict called student_totalscore {'Tom':405,'Todd':498,'John':187,'Maria':421}
student_totalscore={}
student_totalscore['name']=student_name
student_totalscore['scores']=student_total_scores
print(student_totalscore)

#find Todd score
name='Todd'
for i in student_totalscore['name']:
    if i==name:
        j=student_totalscore['name'].index(i)
print(student_totalscore['scores'][j])

{'name': ['Tom', 'Todd', 'John', 'Maria'], 'scores': [405, 498, 187, 421]}
498

In [51]:
student_totalscore1 = dict(zip(student_name, student_total_scores))
print(student_totalscore1)

{'Tom': 405, 'Todd': 498, 'John': 187, 'Maria': 421}

In [52]:
student_dict ={student_name[i]:student_total_scores[i] for i in range(len(student_name))}
print(student_dict)

{'Tom': 405, 'Todd': 498, 'John': 187, 'Maria': 421}

In [53]:
stud_score={'name':['Tom','Todd','John','Maria'],
'scores':[405,498,187,421]}
# find the score of Todd from stud_score

In [54]:
print(stud_score['scores'][stud_score['name'].index('Todd')])

498

In [55]:
#find Todd score
name='Todd'
for i in student_totalscore['name']:
    if i==name:
        j=student_totalscore['name'].index(i) # index location
print(student_totalscore['scores'][j])

498

In [56]:
print(stud_score['scores'][stud_score['name'].index(input("Enter the name of the student: "))])

421