>#
># Demo_9_Excel_Application
>#
> 1. Libraries for Excel
>    - Install **pandas** 
>    - Install **openpyxl** fw
> 2. Reading Excel files
>    - Read excel file using pandas
>    - Inspect data from excel file.
>    - Calculate Statistics
>    - Sorting
>    - Filtering with **loc** and **iloc** 
> 3. Writing to Excel file
> 4. Export Data from a Database to Excel
>    - ETL using DataFrame

## 1. Libraries for Excel

### a) Install **pandas**

In [2]:
!pip list

Package                Version
---------------------- -------
backcall               0.2.0
colorama               0.4.4
debugpy                1.5.1
decorator              5.1.1
entrypoints            0.4
executing              0.8.3
jupyter-core           4.9.2
matplotlib-inline      0.1.3
mysql                  0.0.3
mysql-connector        2.2.9
mysql-connector-python 8.0.22
mysqlclient            2.1.0
nest-asyncio           1.5.4
parso                  0.8.3
pickleshare            0.7.5
pip                    22.0.4
prompt-toolkit         3.0.28
protobuf               3.19.4
psutil                 5.9.0
pure-eval              0.2.2
Pygments               2.11.2
pyparsing              3.0.8
python-dateutil        2.8.2
pywin32                303
pyzmq                  22.3.0
setuptools             60.10.0
six                    1.16.0
tornado                6.1
traitlets              5.1.1
wcwidth                0.2.5
wheel                  0.37.1

In [3]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\konstantinos\appdata\local\programs\python\python310\lib\site-packages (1.4.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\konstantinos\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\konstantinos\appdata\roaming\python\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\konstantinos\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.22.3)
Requirement already satisfied: six>=1.5 in c:\users\konstantinos\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

### b) Install **openpyxl**

In [1]:
%pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\konstantinos\appdata\local\programs\python\python310\lib\site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in c:\users\konstantinos\appdata\local\programs\python\python310\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

## 2. Reading Excel files

### a) Read excel file using pandas

In [24]:
import pandas as pd
fileName='emp.xlsx'
data=pd.read_excel(fileName)
print(type(data))
print(data)

<class 'pandas.core.frame.DataFrame'>
     Name Department       Title  Yoe  Wages
0    Mike     Safety     Manager    5  15000
1  Andrew  Operation  Supervisor    3   8000
2    Jack     Safety  Supervisor    3   7000
3   Gerry        D&E     Manager    8  15000
4   David     Piping    Engineer    4   8300
5    Nick        D&E    Engineer    5   6000
6  Darren      Admin   Assistant    6   5000
7    Adam     Safety  Supervisor    5   8500
8   Jerry      Admin   Assistant    6   6500

### b) Inspect data from excel file.

In [6]:
#first 5 rows
print(data.head(5))

     Name Department       Title  Yoe  Wages
0    Mike     Safety     Manager    5  15000
1  Andrew  Operation  Supervisor    3   8000
2    Jack     Safety  Supervisor    3   7000
3   Gerry        D&E     Manager    8  15000
4   David     Piping    Engineer    4   8300

In [7]:
#tail 5 rows
print(data.tail(5))

     Name Department       Title  Yoe  Wages
4   David     Piping    Engineer    4   8300
5    Nick        D&E    Engineer    5   6000
6  Darren      Admin   Assistant    6   5000
7    Adam     Safety  Supervisor    5   8500
8   Jerry      Admin   Assistant    6   6500

In [8]:
#retrieve only 2 columns
data1=pd.DataFrame(data,columns=['Name', 'Title'])
print(data1)

     Name       Title
0    Mike     Manager
1  Andrew  Supervisor
2    Jack  Supervisor
3   Gerry     Manager
4   David    Engineer
5    Nick    Engineer
6  Darren   Assistant
7    Adam  Supervisor
8   Jerry   Assistant

### c) Calculate Statistics

In [3]:
#Application of stat
max1=data['Wages'].max() #return max value of salary
print('Maximum Salary is ',max1)
mean1=data['Wages'].mean() #return mean value of salary
print('Mean Salary is ',mean1)
count1=data['Name'].count()
print('No of employees: ', count1)

Maximum Salary is  15000
Mean Salary is  8811.111111111111
No of employees:  9

### d) Sorting

In [4]:
#sorting
sorted1=data.sort_values(['Name'],ascending=True)
print(sorted1)

     Name Department       Title  Yoe  Wages
7    Adam     Safety  Supervisor    5   8500
1  Andrew  Operation  Supervisor    3   8000
6  Darren      Admin   Assistant    6   5000
4   David     Piping    Engineer    4   8300
3   Gerry        D&E     Manager    8  15000
2    Jack     Safety  Supervisor    3   7000
8   Jerry      Admin   Assistant    6   6500
0    Mike     Safety     Manager    5  15000
5    Nick        D&E    Engineer    5   6000

In [5]:
#to eliminate index column
print(sorted1.to_string(index=False))

  Name Department      Title  Yoe  Wages
  Adam     Safety Supervisor    5   8500
Andrew  Operation Supervisor    3   8000
Darren      Admin  Assistant    6   5000
 David     Piping   Engineer    4   8300
 Gerry        D&E    Manager    8  15000
  Jack     Safety Supervisor    3   7000
 Jerry      Admin  Assistant    6   6500
  Mike     Safety    Manager    5  15000
  Nick        D&E   Engineer    5   6000

### e) Filtering with **loc** and **iloc**

In [6]:
#filter with loc and iloc, slicing with loc and iloc
#loc and iloc 
#loc ---> label - based -- specify the names of columns to filter
#iloc - -> index-based -- specify the index of rows and column to filter out

#Scenario 1: fetch employees with YOE>3 and Title=Manager
print(data.loc[(data.Yoe>3) & (data.Title=='Manager')])

#scenario 2: fetch employees name, department where wages>7000
print(data.loc[(data.Wages>7000),['Name','Department']])

#Scenario3: Update employees wages to 16000 if yoe>7
data.loc[(data.Yoe>7),['Wages']]=16000
print(data)

#Scenario 4: if yoe =8, update Title to Head
data.loc[(data.Yoe==8),['Title']]='Head'
print(data)

    Name Department    Title  Yoe  Wages
0   Mike     Safety  Manager    5  15000
3  Gerry        D&E  Manager    8  15000
     Name Department
0    Mike     Safety
1  Andrew  Operation
3   Gerry        D&E
4   David     Piping
7    Adam     Safety
     Name Department       Title  Yoe  Wages
0    Mike     Safety     Manager    5  15000
1  Andrew  Operation  Supervisor    3   8000
2    Jack     Safety  Supervisor    3   7000
3   Gerry        D&E     Manager    8  16000
4   David     Piping    Engineer    4   8300
5    Nick        D&E    Engineer    5   6000
6  Darren      Admin   Assistant    6   5000
7    Adam     Safety  Supervisor    5   8500
8   Jerry      Admin   Assistant    6   6500
     Name Department       Title  Yoe  Wages
0    Mike     Safety     Manager    5  15000
1  Andrew  Operation  Supervisor    3   8000
2    Jack     Safety  Supervisor    3   7000
3   Gerry        D&E        Head    8  16000
4   David     Piping    Engineer    4   8300
5    Nick        D&E    Engineer    5   6000
6  Darren      Admin   Assistant    6   5000
7    Adam     Safety  Supervisor    5   8500
8   Jerry      Admin   Assistant    6   6500

In [7]:
#print(data)
#Scenario 5: Update Title to Supervisor and wages to 7000 if title is Assistant
data.loc[(data.Title=='Assistant'),['Title','Wages']]=['Supervisor',7000]
print(data)

     Name Department       Title  Yoe  Wages
0    Mike     Safety     Manager    5  15000
1  Andrew  Operation  Supervisor    3   8000
2    Jack     Safety  Supervisor    3   7000
3   Gerry        D&E        Head    8  16000
4   David     Piping    Engineer    4   8300
5    Nick        D&E    Engineer    5   6000
6  Darren      Admin  Supervisor    6   7000
7    Adam     Safety  Supervisor    5   8500
8   Jerry      Admin  Supervisor    6   7000

### Slicing with loc

In [8]:
#slicing with loc
#extract 2 to 6 rows
print(data.loc[2:6])

     Name Department       Title  Yoe  Wages
2    Jack     Safety  Supervisor    3   7000
3   Gerry        D&E        Head    8  16000
4   David     Piping    Engineer    4   8300
5    Nick        D&E    Engineer    5   6000
6  Darren      Admin  Supervisor    6   7000

### Using iloc[]

In [9]:
#iloc
#extract 2 & 6 rows and only column with index 2
print(data.iloc[[2,6],[2]])
#extract rows from 2 & 6
print(data.iloc[[2,6]])
#extract rows from 2 to 6 ---> slicing
print(data.iloc[2:6])
#extract 1st row only
print(data.iloc[1])

        Title
2  Supervisor
6  Supervisor
     Name Department       Title  Yoe  Wages
2    Jack     Safety  Supervisor    3   7000
6  Darren      Admin  Supervisor    6   7000
    Name Department       Title  Yoe  Wages
2   Jack     Safety  Supervisor    3   7000
3  Gerry        D&E        Head    8  16000
4  David     Piping    Engineer    4   8300
5   Nick        D&E    Engineer    5   6000
Name              Andrew
Department     Operation
Title         Supervisor
Yoe                    3
Wages               8000
Name: 1, dtype: object

In [10]:
#extract 2 to 6 and column 2 to 4
print(data.iloc[[2,6],[2,4]])

        Title  Wages
2  Supervisor   7000
6  Supervisor   7000

In [11]:
#print(data.loc[[2:6],['Name','Department'])])
print(data.iloc[2:6,2:5])

        Title  Yoe  Wages
2  Supervisor    3   7000
3        Head    8  16000
4    Engineer    4   8300
5    Engineer    5   6000

In [12]:
#extract 2 & 6 rows and columns: Name and Title -- task to discuss after lunch
print(data.iloc[[2,6],[0,2]])

     Name       Title
2    Jack  Supervisor
6  Darren  Supervisor

In [13]:
#extract 2 to 6 rows columns: Name and Title -- task to discuss after lunch
print(data.iloc[2:6,[0,2]])

    Name       Title
2   Jack  Supervisor
3  Gerry        Head
4  David    Engineer
5   Nick    Engineer

In [14]:
print(data.iloc[2:6,2:3])

        Title
2  Supervisor
3        Head
4    Engineer
5    Engineer

### DataFrame

In [15]:
#Information on DataFRame
#print(data.info()) # return index, datatype, memory info
print(data.shape) # return no. of rows & column
print(data.describe()) # return stat info of dataframe

(9, 5)
            Yoe        Wages
count  9.000000      9.00000
mean   5.000000   9200.00000
std    1.581139   3663.67302
min    3.000000   6000.00000
25%    4.000000   7000.00000
50%    5.000000   8000.00000
75%    6.000000   8500.00000
max    8.000000  16000.00000

### Convert Dictionary to Dataframe

In [16]:
#convert a dict to Dataframe
dict1={'firstname':['George','Bill','Jimmy','George','Ronald'],
            'lastname':['Bush','Clinton', 'Carter','Washington','Reagan']}
df2=pd.DataFrame(dict1)
print(df2)

  firstname    lastname
0    George        Bush
1      Bill     Clinton
2     Jimmy      Carter
3    George  Washington
4    Ronald      Reagan

In [17]:
group_data=df2.groupby(df2.firstname).count()
print(group_data)

           lastname
firstname
Bill              1
George            2
Jimmy             1
Ronald            1

In [18]:
group_data=df2.groupby(df2.firstname)

#extract only George's to a new dataframe
#Method 1
newgroup=group_data.get_group('George')
print(newgroup)

  firstname    lastname
0    George        Bush
3    George  Washington

In [19]:
#Method2
df3=df2.loc[(df2.firstname=='George')]
print(df3)

  firstname    lastname
0    George        Bush
3    George  Washington

## 3. Writing to Excel file

Writing to excel from Dataframe

In [21]:
#writing to excel from dataframe
df3.to_excel("presidents.xlsx",sheet_name='USA',index=False) # apt for python 3.9 and above

## 4. Export Data from a Database to Excel

ETL using DataFrame

1. Reading from excel
2. Writing to excel
3. Writing to SQL

### DataFrame to SQLite3

In [22]:
#dataframe to sqlite3
import sqlite3 as sq
try:
    con=sq.connect('presidents.db')
    cur=con.cursor()
    create_table="CREATE TABLE usa(firstname TEXT NOT NULL,lastname TEXT NOT NULL);"
    cur.execute(create_table)
    con.commit()
    #print(df3)
    #push data from dataframe to table usa
    df3.to_sql(name='usa',con=con,if_exists='replace',index=False)
except sq.Error as error:
    print("Error while creating table: ",error)
finally:
    cur.close()
    con.close()
    print('-'*15 ,'Database closed', '-'*15)

Error while creating table:  table usa already exists
--------------- Database closed ---------------


### DataFrame -> SQL -> DataFrame -> csv/excel

Fetching records

In [23]:
#from dataframe-> sql -> dataframe ->csv/excel
#fertching records 
import sqlite3 as sq
try:
  #connecting to database
  connection=sq.connect("presidents.db")# connection is the handler to your db
    #connecting to cursor / resord set
  cur=connection.cursor() #cur is the cursorobject which you can bind to any tables within your database
  #executing SQL query
  cur.execute('select * from usa')
  r=cur.fetchall()
  for i in r:
    print(i)

# fetching the records from database to dataframe
  import pandas as pd
  results=pd.read_sql_query('select * from usa', connection)
  print(results)
  # writing dataframe to csv
  results.to_csv('presidents.csv',index=False)
except sq.Error as error:
    print("Error while fetching: ",error)
finally:
    cur.close()
    con.close()
    print('-'*15 ,'Database closed', '-'*15)

('George', 'Bush')
('George', 'Washington')
  firstname    lastname
0    George        Bush
1    George  Washington
--------------- Database closed ---------------