#
># Day 1 - Lambda Functions
>
>1) Defining a Lambda function (Anonymous function)
>2) Map-Reduce-Filter
>3) Advanced Examples
>
>[Reference Link](https://stackabuse.com/map-filter-and-reduce-in-python-with-examples/)


## 1) Defining a Lambda function (Anonymous function)

These functions are called anonymous because they are not declared in the standard manner by using the def keyword. You can use the **lambda** keyword to create small anonymous functions.

Lambda forms can take any number of arguments but return just one value in the form of an expression. They cannot contain commands or multiple expressions.

An anonymous function cannot be a direct call to print because lambda requires an expression

Lambda functions have their own local namespace and cannot access variables other than those in their parameter list and those in the global namespace.

Although it appears that lambda's are a one-line version of a function, they are not equivalent to inline statements in C or C++, whose purpose is by passing function stack allocation during invocation for performance reasons.

The syntax of lambda functions contains only a single statement:

**lambda *arguments*: *expression***
lambda [arg1 [,arg2,.....argn]]:expression

In [1]:
# Function definition is here
sum = lambda arg1, arg2: arg1 + arg2;

# Now you can call sum as a function
print ("Value of total : ", sum( 10, 20 ))
print()
print ("Value of total : ", sum( 20, 20 ))

Value of total :  30

Value of total :  40


### Example 1 - Multiply a given number by 2

In [1]:
#lambda 
# one line, anonymous function, can have multiple arguments
# multiply the given number by 2
given=lambda x:x*2 # defining lambda--> For any given number x, multiply x by 2
given(int(input()))

66

### Traditional approach

In [11]:
def multBy2(x):
    return x*2

a=multBy2(int(input("Enter a number: ")))
print(a)

10


### Example 2 - Find the square of a given number

In [12]:
#find the square of a given number using lambda
given=lambda x:x**2 # defining lambda--> For any given number x, multiply x by 2
given(int(input()))

25


### Example 3 - Lambda with more than one argument

In [4]:
#lambda with more than one argument
#multiply 3 arguments
given=lambda x,y,z:x*y*z
given(3,4,5)

60

In [5]:
# check if num >10 and <15 using lambda
f=lambda num:num>10 and num<15
f(13)

True


### Example 4 - Find the factorial of a given number


#### a) Traditional approach

In [43]:
#find the factorial of 54 using traditional approach


#5!=== 1*2*3*4*5
def fact(x):
    for i in range(x+1):
        i+=1
        if x%i==0:
            print(i)
fact(54)

1
2
3
6
9
18
27
54


#### b) Lambda Function

In [7]:
#find the factorial of 54 using lambda
#5!=== 1*2*3*4*5
#Method 1
fact=lambda num:1 if num<=1 else num*fact(num-1)
number=54
print("%d != %d"%(number, fact(number)))

54 != 230843697339241380472092742683027581083278564571807941132288000000000000

In [8]:
#method 2
fact=lambda num:num*fact(num-1) if num>1 else 1
num=54
print("%d != %d"%(number, fact(num)))

54 != 230843697339241380472092742683027581083278564571807941132288000000000000


## 2) Map() - Reduce() - Filter()

The map(), filter() and reduce() functions bring functional programming to Python. 

These are convenience functions that can be replaced with List Comprehensions or loops.


### a) Map

The map() function iterates through all items in the given iterable and 

executes the function we passed as an argument on each of them.

The syntax is:

**map(*function*, *iterable(s)*)**

The map() function returns the map_object type,

If we would like it to return a list instead, we just cast it when calling the function:

**list(map(...))**


### Example 1 - Unit Conversion: Feet to meter 

Traditional approach vs. Lambda function

In [5]:
#convert feet to meter

#Traditional approach
feet=[23,34,55,67]
def fTom(x):
   for i in x:
    print(i*0.3048)
fTom(feet)

7.010400000000001
10.3632
16.764
20.4216

In [6]:
# map
def fTom1(x):
   return x*0.3048

print(list(map(fTom1, feet))) # map applies ftom1 on each element of feet
print(tuple(map(fTom1, feet)))

# map with Lambda
print(list(map(lambda x:x*0.3048,feet)))

[7.010400000000001, 10.3632, 16.764, 20.4216]
(7.010400000000001, 10.3632, 16.764, 20.4216)
[7.010400000000001, 10.3632, 16.764, 20.4216]


### Example 2 - Cube with map and lambda.

In [8]:
#cube with map and lambda
#logic -- x**3
#lambda x:x**3
print(list(map(lambda x:x**3,range(12))))

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331]

In [9]:
def maths(x,y):
    return x-y, x+y

sub,add=maths(10,5)
print(sub)
print(add)

5
15


### Auxilary exercise - Swapping variables in Python

In [10]:
#swap any two elements
x=20
y=30
#swapping traditionally
t=0
t=x
x=y
y=t
print(x,y)
#python
x=20
y=30
x,y=y,x
print(x,y)

30 20
30 20


### Example 3 - Calculate the distance between two datapoints

In [12]:
import math
points=[(1,2,1),(-1,-2,3),(4,5,6), (5,-7,3),(8,7,6)]
#sqrt(x**2+y**2+z**2)
#logic with function def
def distance(point):
    x,y,z=point
    #method 1
    #return math.sqrt(x**2+y**2+z**2)
    #method 2
    p=lambda x:x**2
    return math.sqrt(p(x)+p(y)+p(z))
print(list(map(distance,points))) # distance is applied on tuple of lists at a given time

[2.449489742783178, 3.7416573867739413, 8.774964387392123, 9.1104335791443, 12.206555615733702]

In [14]:
from math import sqrt # import sqrt function alone from math
list(map(lambda point:sqrt(point[0]**2+point[1]**2+point[2]**2), points))

[2.449489742783178,
 3.7416573867739413,
 8.774964387392123,
 9.1104335791443,
 12.206555615733702]


### b) Reduce

**reduce()** works by calling the function we passed for the first two items in the sequence. 
The result returned by the function is used in another call to function alongside with the next (third in this case), element.
This process repeats until we've gone through all the elements in the sequence.

**reduce(*function*, *sequence[,initial]*)**

It returns a single value.

#### Example 1: Finding the sum of n numbers

In [23]:
#reduce
#performs the logic on the 1st two elements of the given iterable(list/tuple) and 
# save the value and uses the saved value and the next element in the sequence for logic implementation
#[1,2,3,4]===> 1+2=3, 3+3=6, 6+4=10
# output of reduce will be an aggregated result

numList=[1,2,3,4,5]
from functools import reduce
print(reduce(lambda x,y:x+y, numList))

15

#### Example 2: Finding the average of a list of numbers

In [16]:
score=[89,88,67,99,100]
print(reduce(lambda x,y:x+y, score)/len(score))

88.6


### c) Filter

**filter()** takes a function object and an iterable and creates a new list. (Similar to map())

As the name suggests, filter() forms **a new list** that contains only elements that satisfy a certain condition.

**filter(*function*, *iterable(s)*)**

#### Example 1: Finding the numbers that are not divisibe by 11

In [15]:
n=[23,55,50,90,95,99,45,98,44]
print(list(filter(lambda x:x%11!=0, n))) # 55, 44, 99 will be excluded

[23, 50, 90, 95, 45, 98]

#### Example 2: Filtering elements of a given list

In [16]:
#Task : remove those that are not names

names=['John', 'Thomas',"Nina",0,"", False]
names1=list(filter(None,names)) #filters  0,"", False (0)
print(names1)

['John', 'Thomas', 'Nina']

In [17]:
names=['John', 'Thomas',"Nina",0,"", False,1,2,3]
names2=list(filter(None,names))
print(names2)

['John', 'Thomas', 'Nina', 1, 2, 3]


### Advanced Examples


#### a) Example 1

In [12]:
'''
1. filter numerics
2. filter empty strings using None
'''
print(list(filter(None,list(filter(lambda x:type(x)==str, names)))))

['John', 'Thomas', 'Nina']


#### b) Example 2: Finding the palindrome from the given list

In [18]:
word=['madam','hamsi','trainer','fof','pyp','data']

print(list(filter(lambda x:x[0]==x[-1], word))) # risky -- not advisable
print(list(filter(lambda x:x==x[::-1], word)))
print(list(filter(lambda x:x[::]==x[::-1], word)))

['madam', 'fof', 'pyp']
['madam', 'fof', 'pyp']
['madam', 'fof', 'pyp']


#### c) Example 3: Finding the cube of numbers divisible by 4 from 4 to 124

In [21]:
#16 to 124
#cube numbers divisible by 4
a=list(map(lambda x:x**3, list(filter(lambda x:x%4==0, range(4,125)))))
print(a)
print(len(a))

[64, 512, 1728, 4096, 8000, 13824, 21952, 32768, 46656, 64000, 85184, 110592, 140608, 175616, 216000, 262144, 314432, 373248, 438976, 512000, 592704, 681472, 778688, 884736, 1000000, 1124864, 1259712, 1404928, 1560896, 1728000, 1906624]
31


#### d) Example 4

In [28]:
b=list(filter(lambda x:x%4==0, list(map(lambda x:x**3, range(16, 124)))))
print(b)
print(len(b))

[4096, 5832, 8000, 10648, 13824, 17576, 21952, 27000, 32768, 39304, 46656, 54872, 64000, 74088, 85184, 97336, 110592, 125000, 140608, 157464, 175616, 195112, 216000, 238328, 262144, 287496, 314432, 343000, 373248, 405224, 438976, 474552, 512000, 551368, 592704, 636056, 681472, 729000, 778688, 830584, 884736, 941192, 1000000, 1061208, 1124864, 1191016, 1259712, 1331000, 1404928, 1481544, 1560896, 1643032, 1728000, 1815848]
54

#### Example: Finding the sum of numbers divisible by 4 from 4 to 124, using reduce() and filter()

In [25]:
n=reduce(lambda x,y:x+y, list(filter(lambda x:x%4==0, range(4,125))))
print(n)

1984